@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 40% 96%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 40% 96%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 128 32% 74%;
    --primary-foreground: 128 30% 10%;
    --secondary: 128 20% 84%;
    --secondary-foreground: 128 30% 20%;
    --muted: 128 20% 89%;
    --muted-foreground: 128 15% 40%;
    --accent: 56 27% 61%;
    --accent-foreground: 56 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 128 20% 80%;
    --input: 128 20% 85%;
    --ring: 128 32% 74%;
    --radius: 0.8rem;
    --chart-1: 128 32% 60%;
    --chart-2: 56 27% 55%;
    --chart-3: 20 14% 50%;
    --chart-4: 128 20% 70%;
    --chart-5: 56 15% 70%;
  }

  .dark {
    --background: 120 10% 5%;
    --foreground: 60 30% 96%;
    --card: 120 10% 8%;
    --card-foreground: 60 30% 96%;
    --popover: 120 10% 8%;
    --popover-foreground: 60 30% 96%;
    --primary: 128 32% 74%;
    --primary-foreground: 128 30% 10%;
    --secondary: 120 5% 15%;
    --secondary-foreground: 60 30% 96%;
    --muted: 120 5% 15%;
    --muted-foreground: 60 20% 65%;
    --accent: 56 27% 61%;
    --accent-foreground: 56 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 15%;
    --input: 120 5% 15%;
    --ring: 128 32% 74%;
    --chart-1: 128 32% 60%;
    --chart-2: 56 27% 55%;
    --chart-3: 20 14% 50%;
    --chart-4: 128 20% 70%;
    --chart-5: 56 15% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
